<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edukalina | Menjadi Pengajar Berkualitas</title>
    <meta name="description" content="">
    <meta name="theme-color" content="#00A9FF" />
    <link rel="stylesheet" href=".../../../styles//main.css">
</head>

<body>
    <header>
        <nav-bar></nav-bar>
    </header>
    <main>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
    <script src="../scripts/components/nav-bar.js"></script>
    <script src="../scripts/components/app-footer.js"></script>
</body>

</html>