<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edukalina | Menjadi Pengajar Berkualitas</title>
    <meta name="description" content="">
    <meta name="theme-color" content="#ffff" />
    <link rel="shortcut icon" href="./favicon.png" type="image/x-">
</head>

<body>
    <header>
        <nav-bar></nav-bar>
    </header>
    <main id="main">
    
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>

</html>