:root {
    --main: #00A9FF;
    --secondary: #CDF5FD;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    height: 800px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


a.skip-link {
    position: absolute;
    z-index: 9999;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--main);
    color: white;
    padding: 15px 10px;
    }

a.skip-link:focus {
    top: 80px;
}

.logo {
    padding-top: 2px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(5px);
    box-shadow: 0px 1px 1px 0 #ababab;
}

nav-bar {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 5px 5px 5px 15px;
    justify-content: space-between;
    height: 50px;
    transition: height 0.3s;
}

nav-bar.open {
    height: 100vh;
}

nav-bar ul.list-nav {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 80px;
}

.hidden-menu {
    display: none;
}

.hidden {
    display: flex!important;
}


ul.list-nav li {
    margin-bottom: 20px;
}


ul li {
    list-style-type: none;
}

a {
    text-decoration: unset;
    color: unset;

}

ul li a {
    color: black;
    text-decoration: none;
}

button#btn-menu {
    position: absolute;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    top: 10px;
    right: 15px;
    min-width: 44px;
    min-height: 44px;
}


.main-btn {
    background-color: var(--main);
    padding: 10px 20px;
    font-family: inherit;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid transparent;
    color: white;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    flex: 1;
}

hr {
    border-top: 1px solid black;
    border-bottom: 0;
}

footer {
    background-color: var(--secondary);
    width: 100%;
}

footer h2 {
    font-weight: 500;
    color: var(--main);
}

footer ul li a, footer ul li {
    padding-block: 10px;
}

app-footer > p {
    text-align: center;
    padding-block: 30px;
}

.flex-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    flex-wrap: wrap;
}

.flex-footer h2 {
    margin-bottom: 5px;
}

.navigasi-ft, .kontak-ft, .alamat-ft, .brand-footer {
    min-width: 240px;
    max-width: 240px;
    margin-top: 10px;
}

.brand-footer {
    margin-bottom: 10px;
}

.brand-footer h2 {
    font-size: 2em;
    font-weight: bold;
}

