.tipsTrick, 
.event {
    margin-inline: auto;
    max-width: 900px;
    margin-top: 80px;
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
}

.tipsTrick h2, .event h2 {
    font-size: 2.2em;
    color: #00A9FF;
    margin-bottom: 10px;
}

.tipsTrick > p, .event > p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.gropCardTipsTrick, .gropCardEvent{
    width: 100%;
}

.cardTipsTrick, .cardEvent {
    width: 100%;
    display: flex;
    border-radius: 20px;
    margin-bottom: 40px;
    overflow: hidden;
    box-shadow: 2px 4px 10px rgba(0, 169, 255, 0.40);
    min-height: 236px;
    cursor: default;
}

.imageTips{
    width: 40%;
    height: auto;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}



.descGropTipsTrick, .descGropEvent {
    width: 70%;
    padding: 35px;
    box-sizing: border-box;
}

.descGropTipsTrick h3, .descGropEvent h3 {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 20px;
}

.descGropTipsTrick p, .descGropEvent p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}